body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  background: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlcnxlbnwwfHwwfHw%3D&w=1000&q=80") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  top:0;
  left: 0;
}
.app .search{
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.app input{
  padding: 10px;
  border-radius: 40px;
  background: rgba(255,255,255,0.1);
  margin-left: auto;
}
.app .heading{
  padding: 20px;
  padding-top: 1.6rem;
  width: fit-content;
  margin-left: 40%;
  margin-top: 30px;
  border-radius: 30px;
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.4);
}
.app .degree{
  font-size: 65px;
  text-align: center;
  color: aliceblue;
  margin-left: 25%;
  background-color: rgba(0,0,0,0.4);
}
.app .bottom{
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin: auto;
  color: aliceblue;
  background-color: rgba(0,0,0,0.4);
  border-radius: 40px;
  margin-top: 30px;
}
.name{
  max-width: 700px;
  height: 700px;
  margin: auto;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
::placeholder{
  
  color: aliceblue;
}
.description{
  font-size: 40px;
  
  color: rgba(255,255,255);
}