
body{
    background-color: aqua;
}
.sub{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 50px;
    padding-bottom: 0px;
}
.image{
    border-radius: 40px;
    transform: translate(120%,-70%);
}
p{
    font-size: 40px;
}

.box2{
    margin-right: 75%;
}
#imge{
    margin-left: 47%;
    width: 400px;
}
.fa{
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
}
.fa-facebook{
    background:#3B5998;
    color:aliceblue;
}
.fa-instagram{
    background: #125688;
    color: aliceblue;
}
.fa-google{
    background: #dd4b39;
    color:aliceblue;
}

.di1{
    background-color: white;
    text-align: center;
    height: 600px;
    width:600px;
    float: left;
    margin-right: 100px;
    border-radius: 40px;
}

.di2{
    background-color: white;
    text-align: center;
    height: 600px;
    width:600px;
    float: left;
    margin-left: 200px;
    border-radius: 40px;

}

.parentdi1{
    height: 800px;
    width: 1500px;
    padding-left: 100px;
    padding-right: 100px;
}

.di3{
    background-color: aqua;
    text-align: center;
    height: 600px;
    width:600px;
    float: left;
    margin-left: 25%;
    padding:20px;

}