.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 150px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 600px;
}

.profilePic{
    width: 5px;
}

.header_nav_items{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
} 

.button{
    background-color: #131921;
    border: #131921;
    color: white;
}

